services:
  backend:
    build: ./backend
    depends_on:
      - db
    ports:
      - "5172:5172"
    volumes:
      - ./backend:/app
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
     - ./frontend:/app
    command: sh -c "npm install && npm run dev -- --host" 

    environment:
      - CHOKIDAR-USEPOLLING=true
  nginx:
    image: nginx:latest
    ports:
      - "8080:8080"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
  db:
    image: mysql:latest
    environment:
      MYSQL_DATABASE: newKalendarium
      MYSQL_PASSWORD: k@l3nd@riumdev
      MYSQL_ROOT_PASSWORD: k@l3nd@riumdev
    ports: 
      - "3305:3306"
    volumes:
      - db-data:/var/lib/mysql
    
volumes:
  db-data:


