#b_zapisz, #b_widoczny, #b_usun {
    background-color: #BE1E2D;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.25;
    border: none;
    margin-left: 10px;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
}