@font-face {
    font-family: 'Quicksand-Regular';
    src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap" rel="stylesheet');
    font-display: swap;
}
@font-face {
    font-family: 'Quicksand-SemiBold';
    src: url('https://al.edu.pl/templates/al2024/fonts/Quicksand-SemiBold.woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url('https://al.edu.pl/templates/al2024/fonts/Raleway-Regular.woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('https://al.edu.pl/templates/al2024/fonts/Raleway-SemiBold.woff2');
    font-display: swap;
}



#navbarNav .btn {
    color: white;
    background: #0D6EBA;
    font-weight: bold;
    font-family: Arial;
}


.caption{
	font-size: 0.8rem;
	/* font-style: italic; */
	margin-top: 5px;
}

figcaption{
	font-size: 0.8rem;
	/* font-style: italic; */
	margin-top: 5px;
}


.panel {
    width: 25%;
    float: left;
    float: left;
    margin-bottom: 20px;
    padding-right: 40px;
}

.header_goto {
    display: none;
}

.skip a
{
    position:absolute;
    left:-10000px;
    top:auto;
    overflow:hidden;
}

.skip a:focus
{
    position: absolute;
    left: 40%;
    top: 50%;
    /* width: 1px; */
    /* height: 1px; */
    /* overflow: hidden; */
    z-index: 10000;
    background: #fff;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid;
    border-radius: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 300px;
}

.wv-wrapper-button.wv-btn-default {
    margin-bottom: 10px;
}

body .n2-ss-slider a.n2-ow:focus,
body .n2-ss-slider .n2-ow-all a,
body .n2-ss-slider .n2-ow-all a:focus,
body .n2-ss-slider *:focus {
   outline: 4px dashed deepskyblue!important;
   outline-offset: 1px!important;
}

li.switch-box.toggle-control :focus {
    outline: 4px solid deepskyblue;
    outline-offset: 1px;
}

button:focus {
    outline: 4px dashed deepskyblue;
    outline-offset: 1px;
}

button.btn.dropdown-toggle:focus {
    outline: 4px dashed deepskyblue !important;
    outline-offset: 1px !important;
}

a:focus {
    outline: 4px dashed deepskyblue;
    outline-offset: 1px;
}

.navbar-toggler:focus {
    outline: 4px dashed deepskyblue;
    outline-offset: 1px;
}


#navbarNav .dropdown-menu { 
    margin-top: 0px !important; 
    width: 100% !important; 
} 



.navbar{
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

html {
    font-size: 1rem;
}

body {
    font-size: 100%;
    vertical-align: baseline;
    color: #000;
    font-family: 'Quicksand-Regular', sans-serif;    
    background-attachment: scroll;
    background: #fff;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    color: #BE1E2D;
    text-decoration: none;
}


.content a{
	text-decoration: underline;
}



.img_caption{
    
    padding: 0;
    margin: 0;
    padding-top: 5px;
    font-size: 0.8rem;
    font-style: italic;
}

.godzina {
    padding-left: 5px;
    padding-right: 5px;
    background: #BE1E2D;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.mini-baner {
    max-width: 30%;
}

/*.navbar img{
    float: left;
}*/

.navbar h1{
    float: left;
    margin: 0px;
}

.HR{
    position: absolute;
    top: 200px;
    z-index: 99999;
    right: 0px;
    background: #fff;
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 0 0 0 7px;
    box-shadow: 8px 8px 24px -22px rgba(66, 68, 90, 1);
    border-top: 5px solid #BE1E2D;
}

.HR-box-nav img{
    max-width: 100%;
    margin: 20px;
    padding: 40px;
    background: #f9f9f9;
    border-radius: 20px;
}

.HR-box {
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px;
/*    background: #f9f9f9;*/
/*    margin-top: 40px;*/
/*    border-radius: 20px 0px 0px 20px;*/
    border-right: none;
}

.HR-box img{
    max-width: 100%;
}


.switch-box {
    display: flex;
    justify-content: center;
    align-items: center;   
}

label.theme-switch {
    margin: 0px;
    font-size: 12px;
}

input[type=checkbox].switch:checked {
    background-color: #ddd;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    vertical-align: middle;
}

input[type=checkbox].switch {
    font-size: 0.8rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 16px;
    background-color: #BE1E2D;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
    border: 0;
}

input[type=checkbox].switch:checked:after {
    left: calc(100% - 1.25em);
    background-color: #222;
}

input[type=checkbox].switch:after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #222;
    box-shadow: 0 0 0.25em rgba(0,0,0,.3);
    transform: scale(.7);
    left: 0;
    transition: all .2s ease-in-out;
}

.artykuly a{
    word-wrap: break-word;
    word-break: break-all;
    -ms-word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    text-decoration: underline;
}

td p{
    margin: 0px;
}

iframe{
    max-width: 100% !important;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 20px;
}

.social-media-icons img{
    width: 22px;
    margin-left: 2px;
	aspect-ratio: 1/1;
}

.tabGeneral {
    padding: 5px;
}

.items-row .cols-1 .row-0 .row-fluid .clearfix {
    clear: none;
}

.icons .dropdown-menu {
    right: auto;
    top: auto;
}

.icons .dropdown-menu :before{
    display: none;
    background: #F5F5F5;
}

.btn-group pull-right {
    background: #F5F5F5;
    float: right;
}

.navbar {
    border: none;
    background: #fff;
}

.caret {
    border-left: 0
}

.navbar-default .navbar-nav>li:hover>a {
    background-color: #eee!important;
    color: #444!important
}

.navbar-default {
    color: #555;
    background-color: #fff
}

.menu-large {
    position: static!important
}

.navbar-default .navbar-nav>.dropdown>a .caret:hover {
    border-top-color: #BE1E2D;
    border-bottom-color: #BE1E2D;
}

.megamenu {
    padding: 40px;
    background: #fff
}

.bg-light {
    background-color: #fff!important;
}

.herb-polski{
    padding-right: 15px;
}

.dropdown-menu .divider{
    height: 20px;
}

#koronawirus {
    position: relative;
    clear: both;
    padding-top: 0px;
    font-size: 18px;  
    text-align: center;
    overflow: hidden;
    font-weight: 600;
}

#koronawirus a{
    font-family: Raleway, sans-serif;
    background-color: #BE1E2D;
    color: #fff;
    padding: 0px;
    margin-right: 10px;
    display: inline-block;
}

#koronawirus a:last-child{
    margin-right: 0px;
}

#navbarNav .dropdown-toggle {
    white-space: nowrap;
    background: #BE1E2D;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    margin-left: 10px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}


.dropdown-menu .col-md-3 {
    float: left;
}

.dropdown-menu .col-md-4 {
    float: left;
}

.megamenu>li>ul>li {
    list-style: none
}

.megamenu>li>ul>li>a {
    display: block;
    margin: 5px 20px;
    clear: both;
    font-weight: normal;
    color: #000;
    white-space: normal
}

.megamenu>li>ul>p {
    margin: 5px 20px;
}

.megamenu>li>a:after {
    content: " ";
    width: 0;
    height: 0;
    display: block;
    border-bottom: 10px solid #14141e;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid transparent;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -9px;
    opacity: 0
}

.btn-default {
    background-color: #BE1E2D;
    border: none;
    border-radius: 15px;
    padding: 20px;
    color: #fff !important;
    font-weight: 600;
    margin: 10px;
}

#navbarNav .btn-link {
    white-space: nowrap;
    background: #BE1E2D;
    color: #fff;
    padding: 10px;
    padding-left: 14px;
    font-size: 1rem;
    margin-left: 10px;
    font-weight: 600;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-default:hover {
    color: #fff;
    background-color: #92262a;
    border: none;
}

.btn-default a {
    color: #fff !important;
    font-weight: 600;
}

ul.wydzialy {
    float: left!important;
}

ul.wydzialy a {
    padding-right: 4px;
    text-decoration: none
}

ul.wydzialy a:visited {
    text-decoration: none
}

.caret-left {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border: 0.25em solid transparent;
    border-left-color: #BE1E2D;
}

h1 {
    font-family: 'Times New Roman', serif;
    font-size: 3rem;
    padding-top: 20px;
    font-weight: 600;
}

h2 {
    font-family: 'Times New Roman', sans-serif;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 10px;
    word-break: break-word;
    font-weight: 600;
}

h3 {
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.5rem;
    font-weight: 700
}

h4 {
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar h1{
    float: left;
    margin: 0px;
	padding: 0px;
	font-size: 0px;
}

.news h1 {
    font-family: 'Times New Roman', serif;
    font-size: 3rem;
    text-align: center;
}

.news h2 {
    font-family: 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
}


.wybory h2 {
	font-family: Raleway-SemiBold, sans-serif;
    clear: both;
    color: #fff;
    font-weight: normal;
    background-color: #BE1E2D;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
}

.aktualnosci h3{
	font-size: 1.2rem;
}

.news .published {
    text-align: center;
    padding-bottom: 20px;
}


#navbarNav .dropdown-toggle{
    font-family: Raleway-SemiBold, sans-serif;
}


#navbarNav .btn-link {
    font-family: Raleway-SemiBold, sans-serif;
}

.navbar-default .navbar-nav>li>a {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #676767;
    padding-bottom: 10px;
}


#stopka_site-map h3{
    font-size: 1.3rem;
}


.dropdown-header {
    white-space: normal;
    padding-left: 20px;
}

li.dropdown-header {
    font-family: 'Raleway-SemiBold', sans-serif;
    font-size: 1.8rem;
    line-height: 1.1;
    text-transform: uppercase;
    clear: both;
}

p.mod-articles-category-introtext{
    font-style: normal !important;
    margin-bottom: 0px;
}

#stopka_site-map ul li {
    font-size: 0.9rem;
}

#stopka {
    clear: both;
    background-attachment: scroll;
    background-position: 0 0;
    background-repeat: repeat;
    position: relative;
    background-repeat: no-repeat;
    filter: none;
    background-color: #555;
    float: left;
    width: 100%;
}

#stopka .social-media-top{
padding: 0px;
}

#stopka_site-map {
    float: left;
    clear: both;
    width: 100%;
    padding: 40px;
    z-index: 1;
}

#stopka_site-map ul {
    float: left;
    list-style: none;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    width: 20%;
    padding-right: 4%;
    list-style: none;
    z-index: 1
}

#stopka_site-map ul li {
    padding-bottom: 5px;
clear: both;
}

#stopka_site-map ul li a {
    color: #eee
}

#stopka_site-map ul img {
    width: 50px
}

#stopka_site-map h3 {
    font-family: 'Raleway', sans-serif;
    padding-top: 0;
    color: #eee;
    border-bottom: 1px solid #BE1E2D;
    display: inline-flex;
}

#stopka .wiecej-white a{
    margin-bottom: 10px;}

#stopka h2 {
font-family: 'Raleway-Semibold',sans-serif;
padding: 0px;
margin: 0px;}



#stopka_kontakt {
    color: #eee;
    padding-top: 0;
    float: left;
    width: 20%
}

#stopka_kontakt img {
    margin-top: 10px;
    vertical-align: top;
}

#stopka_kontakt ul {
    float: left;
    list-style: none;
    margin: 0;
    width: 100%;
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 40px;
    border-radius: 30px;
}

#stopka_kontakt ul li {

    line-height: 26px;
    padding-bottom: 0;
    display: inline
}

.social-media {
    display: block;
    padding-top: 20px;
}

.social-media-top {
    display: block;
    padding-left: 20px;
    padding-top: 10px;
    height: 80px;
}

.social-media-top img {
    width: 50px;
aspect-ratio: 1/1;    
    margin-right: 5px;
    margin-bottom: 5px;
}

.stopka-kontakt-adres:before {
    font-family: 'Glyphicons Halflings';
    content: "\e062";
    display: none;
}

.stopka-kontakt-tel:before {
    font-family: 'Glyphicons Halflings';
    content: "\e182";
    display: none;
}

.stopka-kontakt-email:before {
    font-family: 'Glyphicons Halflings';
    content: "\2709";
    display: none;
}

.stopka-container  a {
    text-decoration: none;
}

.stopka-container {
    width: 100%;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    font-size: 0.8rem;
}

dl {
    margin-bottom: 10px
}

dt {
    display: none
}

.published {
}

#nazwa_uczelni_logo {
    padding-left: 40px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    float: left
}

#banerki {
    z-index: 3;
    position: relative;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

#baner {
    position: relative;
    clear: both;
    background: #f9f9f9;
    margin-bottom: 40px
}

#user a {
    color: #BE1E2D;
    text-decoration: none
}

#user a:active {
    color: #BE1E2D
}

#user a:visited {
    color: #BE1E2D
}

#user a:hover {
    color: #BE1E2D
}

.licznik-row {
    margin-right: 0;
    margin-left: 0;
    position: relative;
    line-height: 1em;
    clear: both;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-position: 0 0;
    background-repeat: repeat;
    position: relative;
    background-repeat: no-repeat;
    filter: none;
    float: left;
    width: 100%;
}

.licznik-block {
    overflow: hidden;
    color: #BE1E2D;
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 40px;
}

.licznik-block h2 {
    font-family: 'Times New Roman', sans-serif;
    font-size: 4rem;
    margin-top: 40px;
}

.licznik-block a {
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 40px;
    color: #BE1E2D;
    text-decoration: underline;
}

.licznik-block p {
    margin-left: 50px;
    margin-top: 15px;
    margin-right: 50px;
    color: #000;
    line-height: 1.4
}

.caret_right {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0;
    vertical-align: middle;
    border-top: 5px dashed #eee;
    border-right: 5px solid transparent;
    margin-right: 5px;
    transform: rotate(135deg);
    display: none
}

.clearfix::before {
    content: " ";
    display: table
}

.clearfix::after,.clearfix::before {
    display: table;
    content: " "
}

.glyphicon-arrow-right:before {
    margin-right: 5px;
}

#logo_uczelni {
    float: left
}

.pull-left {
    float: left;
    width: 100%;
}

.pull-left.item-image {
    margin-right: 0;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 20px
}

.mod-articles-category-date::before {
    font-family: 'Glyphicons Halflings';
    content: "\e109";
    padding-right: 3px;
    color: #BE1E2D;
    font-size: 11px;
    display: none;
}

.mod-articles-category-date {
    float: right;
    padding-bottom: 5px;
    width: 100%;
    text-align: left;
}

.category-module .mod-articles-category-img {
    width: 100%;
    overflow: hidden;
    float: left;
    margin-right: 0
}

.category-module .mod-articles-category-img img {
    float: left;
    width: 100%;
    height: auto;
}

.youtube-module li {
    list-style: outside none none;
    display: inline-table;
    min-height: 100px
}

.aktualnosci-inside .breadcrumb{
    background: #eee;
}

.aktualnosci-inside {
    padding: 40px;
}

.aktualnosci-inside.category-module li {
    width: 23.5%;
    float: left;
    margin-right: 2%;    
    list-style: none;
}

.aktualnosci-inside.category-module li:last-child {
    margin-right: 0;
}

.aktualnosci-inside ul.category-module  {
    margin: 0;
    padding: 0;
}

.aktualnosci-inside li:nth-child(4n){
    margin-right: 0px ;
}

	.aktualnosci .mod-articles-category-img{
        aspect-ratio: 3/2;
    }

.wybory{
    float: left;
    width: 25%;
    padding-right: 40px;
    margin-bottom: 40px;
    position: relative;
}

.category-module li {
    /*    width: 22.75%;*/
    width: 30.3%;
    float: left;
    margin-right: 3%;
    margin-bottom: 20px;
    list-style: none;
}

.category-module li:last-child{
    margin-right: 0px;
}

.youtube-module li {
    width: 20.5%;
    padding-right: 2.5%;
    vertical-align: top
}

.youtube-module li:last-child {
    padding-right: 0;
    width: 18%
}

ul.youtube-module {
    padding-left: 0
}

.category-module li>a {
    display: inline-block;
    color: #BE1E2D;
    font-size: 15px;
    font-weight: 600;
    padding-left: 0;
    margin-top: 20px;
}

.events-title>a,.youtube-module li>a {
    display: inline-block;
    margin-top: 15px;
    color: #BE1E2D;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 0;
}

.events-title>a {
    line-height: 1.2;
    font-weight: normal;
    color: #000;
    padding-left: 10px;
}

ul.category-module,ul.youtube-module {
    margin-left: 0;
    margin-top: 10px
}

ul.youtube-module {
    margin-right: 0;
    margin-bottom: 0px;
}

ul.event-module-ul {
    float: left;
    margin-top: 15px;
    width: 100%;
    overflow-y: hidden;
    max-height: 720px;
}

ul.category-module {
    margin-left: 0;
    padding-left: 0;
    float: left;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
}

#logo_uczelni img {
    padding: 0;
    margin: 0;
    float: left;
    height: 60px;
    padding-right: 10px;
    padding-top: 2px
}

#logo_uczelni img:last-child {
    padding-right: 0;
    padding-top: 0
}

#header-bar {
    z-index: 99999;
    width: 100%;
    margin: 0 auto;
    line-height: 1em;
    clear: both;
    background-color: #fff
}

.youtube div:before {
    font-size: 150%;
    font-weight: 700
}

.content_tabs.youtube {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    width: 100%;
    text-align: left;
    padding-right: 40px;
    padding-left: 40px
}

#youtube-bar {
    z-index: 99999;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    clear: both;
    float: left;
    background-color: #fff
}

.youtube-module-img {
    overflow: hidden;
    border-radius: 2px;
    position: relative
}

.youtube img {
    height: 100%!important;
    width: 100%
}

.youtube-module-img a img:before {
    color: #fff;
    content: "\25B6";
    opacity: 0;
    position: absolute;
    text-shadow: 0 3px #000;
    z-index: 100;
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    left: calc(50% - 25px);
    top: calc(50% - 25px)
}

.youtube-module-img a img:hover:before {
    opacity: .6
}

.category-module .mod-articles-category-img {
    border-radius: 2px
}

.event-module {
    float: left;
    width: 25%;
    padding-right: 40px;
	padding-top: 20px;
}

.event-module li {
    width: 100%;
    min-height: 65px;
    position: relative;
    padding-left: 0;
    list-style: none;
    font-size: 2rem;
    border-radius: 2px;
    float: left;
    margin-left: 0
}

.events-title>a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.module-event-date::first-line {
    font-weight: 700
}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

.module-event-date {
    font-family: "Courier New", Courier, monospace;
    display: inline-block;
    font-size: 20px;
    max-height: 75px;
    left: 0;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    top: 0;
    width: 55px;
    background-color: #fff;
    padding-top: 10px;
    border-top: 5px solid #BE1E2D;
    background: #F5F5F5;
    line-height: 1;
    border-radius: 10px;
    min-width: 55px;
}

.content ul{

    
}

.events-title {
    display: flex;
    align-items: center;
}

/*.aktualnosci-wydarzenia {
    position: relative;
    clear: both;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #fff;
    overflow: hidden
}*/

.aktualnosci{
    padding-left: 40px;
}

.event_news .aktualnosci {
    width: 75%;
    float: left;
    margin-bottom: 20px;
    /*    padding-right: 30px*/
	padding-top: 20px;
}

.custom .title,.event_news .aktualnosci .title,.event_news .event-module .title {
    clear: both;
    display: table
}

.wybory h2{
font-size: 2rem;
}

.custom .title h2,.event_news .aktualnosci h2 {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 1rem;
    float: left;
    margin: 0;
    color: #fff;
    font-size: 2rem;
    font-weight: normal;
    background-color: #BE1E2D;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.aktualnosci .title h2 a {
    text-decoration: none;
    font-weight: normal;
    color: #fff;
    font-weight: normal;
    background-color: #BE1E2D;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.event_news .event-module h2 {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 1rem;
    float: left;
    margin: 0;
    color: #fff;
    font-size: 2rem;
    font-weight: normal;
    background-color: #BE1E2D;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.event_news .event-module h2 a {
    color: #555!important
}

.custom .title h2 a {
    text-decoration: none;
    color: #444
}

.module_readmore:before {
    font-family: 'Glyphicons Halflings';
    content: "\e029";
    font-size: 22px;
    display: none
}

.module_readmore {
    float: left;
    margin-top: 4px;
    font-size: 18px;
    color: #BE1E2D;
    text-decoration: none
}

#menu_lewe {
    width: 20%;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    float: left;
    padding-left: 0;
    margin-bottom: 20px
}

#menu_prawe {
    margin: 0;
    float: left;
    width: 60%;
    padding-right: 40px;
    padding-bottom: 80px;
}

.btn-group ul li {
    display: inline;
    margin: 0!important;
    padding: 0!important
}

.artykuly .btn-group ul {
    background:#BE1E2D;
    margin: 0px;
}

.artykuly .btn-group a {
    color: #fff;
}

.icons .btn{
    background:#BE1E2D;
    color: #fff;
    margin-bottom: 10px;
}

.icons .dropdown-menu{
    min-width: 90px;
}

.icons .dropdown-menu.show {
    padding: 20px;
}

#menu_prawe .dropdown-toggle::after{
    margin: 0px;
}

.breadcrumb {
    padding: 10px 40px;
    background: none;
    margin: 0px;
    font-size: 0.8rem;
}

.breadcrumb ul li a{
    color: #555;
}

.breadcrumb ul li a:hover{
    text-decoration: none;
}

.breadcrumb > li + li:after {
    color: #ccc;
    content: "/";
    padding: 0 5px;
}

.breadcrumb > li + li:last-child:after {
    display: none;
}

.page-header {
    padding-top: 0;
    margin-bottom: 10px;
    padding-bottom: 0
}

.white-bg {
    background-color: #fff
}

tbody{
    overflow-x: auto !important;
    /*    display: block !important;*/
}

table {
    margin-bottom: 40px;
    overflow-x: auto;
    display: block;
    border: none
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    margin: 4rem 0;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    margin: 0;
    padding: 10px;
    overflow: visible;

}

.module-calendar th {
    border: none;
    text-align: center;
}

.module-calendar td {
    border: none;
    text-align: center;
}


p {
    margin-bottom: 20px
}

.btn {
    color: #BE1E2D
}

.category-module .mod-articles-category-img img {
    width: 100%; 
}

.category-module .mod-articles-category-img img:hover {    
    
}

.youtube img:hover {
    opacity: .3
}

.module-event-date:hover {
    opacity: .3
}

a {
    border: 0
}

.middle {
    margin: 0 auto
}

.middle2 {
    position: relative;
    margin: 0 auto
}

.middle3 {
    z-index: 3;
    position: relative;
    max-width: 1520px;
    margin: 0 auto
}

.link-row {
    margin-right: 0;
    margin-left: 0;
    position: relative;
    line-height: 1em;
    clear: both;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-position: 0 0;
    background-repeat: repeat;
    position: relative;
    background-repeat: no-repeat;
    filter: none;
    background-color: #f9f9f9;
    float: left;
    width: 100%
}

#link-row-right {
    float: left;
    width: 20%;
    margin-bottom: 40px
}

.link-section {
    padding-left: 40px;
    padding-right: 40px
}

.link-block {
    overflow: hidden;
    color: #fff;
    position: relative;
    width: 33.3333%;
    float: left;
    min-height: 300px;
    border-radius: 15px
}

.link-block-right {
    overflow: hidden;
    color: #fff;
    position: relative;
    width: 100%;
    float: left;
    height: 100%;
    padding-bottom: 40px
}

.link-block-right p {
    margin-left: 40px;
    margin-top: 15px;
    margin-right: 15%;
    color: #fff;
    line-height: 1.4
}

.link-block-right h1 {
    font-size: 26px;
    margin-top: 10%;
    margin-left: 40px;
    margin-right: 10px
}

.link-block-right h2 {    
    
    margin-left: 40px;
    margin-right: 10px
}

.link-block-right a {
    text-decoration: none;
    color: #fff;
    font-size: 30pt;
    bottom: 10px;
    right: 30px
}

.link-block h1 {
    font-size: 18pt;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px
}

.link-block-right .btn {
	color: white;
	background: #0D6EBA;
	border-color: #0e4494;
	font-weight: bold;
	font-family: Arial;
}

.link-row p {
    margin-left: 40px;
    margin-top: 15px;
    margin-right: 40px;
    color: #fff;
    line-height: 1.4
}

.link-row a {
    text-decoration: none;
    color: #fff;
    font-size: 30pt;
    clear: both
}

.btn-info {
    background-color: #BE1E2D;
    border-color: #92262a
}

.btn-danger {
    background-color: #BE1E2D;
    border-color: #92262a
}

.btn-success {
    color: #fff;
    background-color: #BE1E2D;
    border-color: #92262a
}

.btn-success:hover {
    color: #fff;
    background-color: #BE1E2D;
    border-color: #92262a
}

.wiecej {
    clear: both
}

.wiecej a {
    margin-right: 15px;
    float: left
}

.wiecej a {
    position: relative;
    border: 1px solid #BE1E2D;
    color: #BE1E2D;
    display: block;
    float: left;
    padding: 10px;
    border-radius: 5px;
    text-align: center
}

.wiecej-r {
    clear: both
}

.wiecej-r a {
    margin-right: 40px;
}

.wiecej-r a {
    position: relative;
    border: 1px solid #BE1E2D;
    color: #BE1E2D;
    display: block;
    float: left;
    margin-top: 0px;
    padding: 10px;
    border-radius: 5px;
    text-align: center
}

.wiecej-bordo {
    clear: both;
    list-style: none;
    width: 105px
}

.wiecej-bordo a {
    position: relative;
    float: left;
    border: 1px solid #BE1E2D;
    padding: 10px;
    border-radius: 5px;
    text-align: center
}

.wiecej-white {
    clear: both;
    list-style: none;
    width: 50px
}

.wiecej-white a {
    position: relative;
    border: 1px solid #fff;
    color: #fff!important;
    padding: 5px!important;
    border-radius: 5px;
    text-align: center;
    display: block;
    float: left;
}

.wladze{
    float: left;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

#navbarNav .dropdown-menu ul{
    padding-left: 0px;
    }
	
.dropdown-menu{	
    background: #f9f9f9;
}

.wladze img{    
    margin: 0 auto;
    border-radius: 50% !important;
    padding: 20px;
}

.wladze-info{
    text-align: center;
    margin: auto;
}

.wladze-info p{
    text-align: center;
}


.szybkie-linki-bar {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    clear: both;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-position: 0 0;
    background-repeat: repeat;
    position: relative;
    background-repeat: no-repeat;
    filter: none;
    float: left;
    width: 100%;
    padding: 20px;
    display: none;
}

.szybkie-linki-wydzialy-bar {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    clear: both;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-position: 0 0;
    background-repeat: repeat;
    position: relative;
    background-repeat: no-repeat;
    filter: none;
    background-color: #f9f9f9;
    float: left;
    width: 100%;

}

.szybkie-linki a {
    position: relative;
    border: 1px solid #BE1E2D;
    color: #BE1E2D;
    display: inline-block;
    float: left;
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 1%;
    width: 31.333%;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.szybkie-linki-wydzialy a {
    position: relative;
    border: 1px solid #BE1E2D;
    color: #BE1E2D;
    display: inline-block;
    float: left;
    margin-top: 20px;
    padding: 2%;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin: 2.5%;
    width: 28%
}

.szybkie-linki-projekty-bar {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    clear: both;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-position: 0 0;
    background-repeat: repeat;
    position: relative;
    background-repeat: no-repeat;
    filter: none;
    background-color: #f9f9f9;
    float: left;
    width: 100%;
    padding: 3%;
}

.szybkie-linki-projekty a {
    position: relative;
    border: 1px solid #BE1E2D;
    color: #BE1E2D;
    display: inline-block;
    float: left;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin: 1%;    
    justify-content: center;
    align-items: center;
    width: 14.6%;
    height: 130px;
    display: flex;
}

.szybkie-linki-projekty h2{
    font-size: 1.5rem;
    margin-top: 60px;
    margin-left: 15px;
    margin-right: 15px;
    color: #BE1E2D;
}

.color1 {
    background-color: #BE1E2D
}

.color2 {
    background-color: #b93539
}

.color3 {
    background-color: #cb3a40
}

.link {
    text-decoration: underline !important;
}

.artykuly {
    text-align: left;
    margin: 0;
    padding-left: 40px;
}

.artykuly a:before {
    display: none
}

p.readmore a.btn{
    text-decoration: none;
}

.artykuly li {
    margin-left: 0;
}

.artykuly ul li {
}

.artykuly ul {
    margin-top: 10px;
    margin-bottom: 20px;
}

.artykuly ul {
    padding-left: 40px
}

ol {
    padding-left: 40px;
    margin-bottom: 20px
}


ol li {
    padding-left: 5px;
}

ol li ol{
    padding-top: 5px;
    padding-bottom: 10px;
}

ul ul {
    padding-left: 40px;
    list-style-type: lower-latin;
    list-style-type: disc
}

ol, ul {
    padding-left: 1rem;
}



.pull-left.item-image img {
    width: 100%
}

.pdftip-jck {
    background-image: url(https://pwsip.edu.pl/templates/pwsiip-uczelnia-2015/images/zalacznik.png)!important;
    background-repeat: no-repeat;
    border-style: none;
    color: #444;
    background-size: 30px;
    background-position: 5px;
    padding: 5px;
    padding-left: 26px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 20px;
}

.pdftip-jck a {
    color: #444;
    padding-left: 35px;
    padding-right: 3px;
}

.span12{
    margin-bottom: 20px;
}

.film-promocyjny {
    background-color: #fff!important
}

.kolor {
    color: #fff!important;
    background-color: #a92f33;
}

.module-event {
    margin-right: 0;
    position: relative;
}

li.events-title::before {
    display: none
}

li.events-title {
    padding-left: 0;
    list-style: none;
}

.events-title .events-header {
    /*    margin-bottom: 60px;*/
    padding-left: 80px
}

.module-event .event-header {
    display: none
}

/*.module-calendar {
    background: #F5F5F5;
}*/

.module-event ul {
    padding-left: 0;
    padding-bottom: 20px;
}

.wydzialy-row {
    margin-right: 0;
    margin-left: 0;
    position: relative;
    line-height: 1em;
    clear: both;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-position: 0 0;
    background-repeat: repeat;
    position: relative;
    background-repeat: no-repeat;
    filter: none;
    float: left;
    width: 100%;
    padding: 60px;
    padding-left: 15px;
    padding-right: 15px
}

.wydzialy-row img{
    width: 200px;
}

.wydzialy-row h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Raleway, sans-serif;
}

.col-color {
    background-color: #fff
}

.col-color2 {
    background-color: #fff
}

.accordeonck-wrap>ul {
    padding: 0;
    margin: 0;
    background: 0 0;
}

.accordeonck-wrap>ul li {
    margin: 0;
    background: 0 0;
    list-style-type: none!important
}

.accordeonck-wrap ul li ul {
    margin: 0;
    padding: 0
}

.accordeonck-wrap>ul li a {
    margin: 0;
    color: #000;
    text-align: left;
    display: block;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
    text-decoration: none;
    border-style: none;
    background-color: #eee
}

.accordeonck-wrap>ul li a:hover {
    background-color: #ddd;
    text-decoration: none
}

.accordeonck-wrap>ul li ul li a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.accordeonck-wrap>ul li ul li a:before {
    content: '';
    width: 14px;
    height: 14px;
    margin-right: 10px;
    display: inline-block;
    background: url('https://api.iconify.design/typcn:media-play.svg?color=%23BE1E2D') no-repeat center center / contain;
}

.accordeonck-wrap .isactive {
    background-color: #BE1E2D;
    color: #fff;
}

.accordeonck-wrap .level2  .isactive {
    background-color: #ddd;
    color: #000;
}

.dropdown-toggle::after {
    vertical-align: middle;
}

.dostepnosc-menu {
    font-weight: 600;
    background: none;
    border: none;
    padding: 0px;
}


.dostepnosc-menu  .dropdown-menu.show {
    border: 1px solid #ddd;
    padding: 10px;
}

.dostepnosc-menu-jezyk{
    font-weight: 600;    
}

.dostepnosc-menu-jezyk  .dropdown-menu.show {
    border: 1px solid #ddd;
    padding: 10px;
}

.flag-icon {
    vertical-align: middle;
}

#menu-gora-bar {
    margin-bottom: 0
}

#menu_gora {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 17px;
}

#menu_gora ul li a {
    margin: 0;
    position: relative;
    text-decoration: none;
    padding: 0;
    vertical-align: middle;
}

#menu-gora-bar {
    margin-bottom: 0;
}

#menu_gora ul {
    list-style: none;
    float: right;
    margin-bottom: 0;
}

#menu_gora ul {
    list-style: none;
    float: right;
    margin-bottom: 0px;
    padding: 0px;
}

ul.wydzialy{
    padding-left: 0px;
}

#menu_gora ul li {
    float: left;
    padding-right: 12px
}

#menu_gora ul li a img {
    vertical-align: top
}

#menu_gora ul li a {
    margin: 0;
    position: relative;
    text-decoration: none;
    color: #000;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}

#menu_gora ul li:last-child {
    padding-right: 0
}

.navbar-collapse {
    border-top: none
}

.nav>li>a {
    padding: 14px 11px
}

li.dropdown-header {
    color: #BE1E2D
}

.dropdown-menu {
    border-radius: 0;
    border: none;
    z-index: 9999;
}

.pagenav {
    margin-right: 2px;
    padding: 10px;
    border: 1px solid;
}

span.pagenav {
    border: 1px solid #BE1E2D;
}

.nav-tabs {
    background-color: #eee;
    margin-top: 50px;
    margin-bottom: 50px;
    border-left: 5px solid #BE1E2D;
    border-right: 5px solid #BE1E2D;
    border-bottom: none
}

.nav-tabs>li>a {
    color: #222;
    text-align: center;
    border: none;
    margin-right: 0;
    text-decoration: none
}


/*a.hasTooltip.pagenav {
    display: none
}*/

span.pagenav {
    padding: 10px;
    background-color: #BE1E2D;
    color: #fff;
    border-radius: 0
}

.pagenav a {
    color: #000
}

.pagenav a:active {
    color: #842d35
}

.pagenav a:visited {
    color: #595959
}

.pagenav a:hover {
    color: #842d35
}

.pagination__wrapper {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
width: 100%;

}

.pagination__wrapper ul {
    margin: 0!important;
    padding-left: 0!important;
    padding-top: 20px;
	
}

.pagination__wrapper ul li {
    list-style: none;
	float: left;
}

.pagination__wrapper ul li:before {
    display: none
}

.camera_pag {
    position: absolute;
    bottom: -14px;
    right: 10px
}

.items-leading,.items-row {
    margin-bottom: 0;
    padding: 0;
    width: 100%
}

.pagination__wrapper ul {
	display: block;
    list-style-type: none;
    float: left;
    text-align: center
}

.pagination__wrapper ul li {    
    margin-bottom: 5px;
    border: none
}

.pagination__wrapper span {
    font-weight: 700
}

.pagination {display:flex;list-style:none;padding-left:0}
.page-link {color: #BE1E2D;background-color:#fff;border:1px solid #BE1E2D;font-size:1.1rem;display:block;position:relative;padding:0.5rem;margin:5px}
.page-link:hover {border-color:#BE1E2D;color:#fff;}
.page-link:focus,.page-link:hover {background-color:#BE1E2D}
.page-item:not(:first-child) .page-link {margin-left:-1px}
.page-item.active .page-link {background-color:#BE1E2D;border-color:#BE1E2D;color:#fff}
.page-item.disabled .page-link {background-color:#fff;border-color:#BE1E2D;color:lightgray;pointer-events:none}
.page-item:first-child .page-link {border-bottom-left-radius:.25rem;border-top-left-radius:.25rem}
.page-item:last-child .page-link {border-bottom-right-radius:.25rem;border-top-right-radius:.25rem}
.icon-angle-left:before {content:"<"}
.icon-angle-right:before {content:">"}
.icon-angle-double-left:before {content:"<<"}
.icon-angle-double-right:before {content:">>"}

    .float-md-end {

        display: none;
    }


p.counter.pull-right {
    display: none
}

p.readmore a.btn {
    padding: 10px;
    margin: 0;
    border: 1px solid #BE1E2D;
    background: white;
    color: black;
}

p.readmore:before {
    display: none
}

.artykuly ul.pager.pagenav {
    padding-left: 0
}

.artykuly li a.pagenav:before {
    display: none
}

.artykuly li a.pagenav:hover:before {
    text-decoration: none
}

.artykuly .pager.pagenav li:before {
    content: ""
}

.kafelki-lista {
    text-align: center
}

.kafelki-lista ul {
    padding: 0;
    margin: 0
}

.kafelki-lista ul {
    display: flex;
    flex-wrap: wrap
}

.kafelki-lista ul {
    list-style-type: none;
    margin-bottom: 20px;
}


.kafelki-lista li:before {
    display: none!important
}

.kafelki-lista li {
    position: relative;
    margin: 1%;
    width: 31.333%;
    height: 100px;
}

.kafelki-lista a {
    border: 1px solid #BE1E2D;
    color: #222;
    border-radius: 20px;
    display: inline-block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: normal;
}

.kafelki-lista a:hover {
    border-radius: 20px;
    background-color: #BE1E2D;
    color: #fff;
}

.kafelki-lista-krokpokroku {
    text-align: center
}

.kafelki-lista-krokpokroku ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0
}

.kafelki-lista-krokpokroku li:before {
    display: none!important
}

.kafelki-lista-krokpokroku li {
    position: relative;
    border: 1px solid #BE1E2D;
    margin: 1%;
    padding: 20px;
    width: 100%;
}

.kafelki-lista-krokpokroku ul li a {
    text-decoration: none
}

#cookies-message {
    padding: 0 0;
    border-bottom: 1px solid #751d1f;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: #efefef;
    width: 100%;
    z-index: 999;
    background-color: #BE1E2D!important;
    opacity: .9;
    color: #fff!important;
    font-size: 0.8rem;
    z-index: 99999!important;
    top: auto!important;
    bottom: 0!important;
    border-bottom: 0!important;
    margin: 0 auto!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important
}

#cookies-message p {
    margin: 0;
    padding: 10px;
    color: #fff;
    display: inline-table
}

#cookies-message a {
    background-color: rgba(255,255,255,1)!important;
    color: #BE1E2D!important;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px
}

a#accept-cookies-checkbox {
    margin-right: 0
}


.nav-tabs {
    display: block;
}

.nav-tabs li{
    list-style: none;
    text-align: center;
    padding: 10px;
}

a:hover{
    text-decoration: underline;
}

footer{
    clear: both;
}

.stopka-container a{
    color: #BE1E2D;
}

.katalog{
    padding-left: 40px;
}

.katalog h3{
    background: #BE1E2D;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif;
    
}



.stronaglowna li {
    width: 100%;
}



.artykuly img {    
    border: 0;
    border-radius: 2px
}

.news img {
    width: 100%;
}

.blog img {
    width: 100%;
}

img.logowki {
	    width: auto;
}
	


@media only all and (min-width: 3000px) {   

    html{
        font-size: 1.5rem;
    }

}

@media only all and (max-width: 1400px) {   


  
    
    ul.wydzialy{
        display: none;
    }

    .HR-box {
        padding: 0px;
    }
    
    .herb-polski {
    padding-right: 10px;
}

    
    li.dropdown-header{
        font-size: 1.4rem;
    }
    
    .navbar h1{
        letter-spacing: normal;
    }

    .mini-baner {
        max-width: 25%;
    }

    .navbar h1{
        line-height: 17px;
        font-size: 16px;
    }

/*    .switch-box{
        margin-left: 10px;
    }*/

    .navbar-brand img {
        height: 40px;
    }

    #navbarNav .dropdown-toggle {
        padding: 5px;
    }
    
    #navbarNav .btn-link {
        padding: 5px;
    }
    
    .herb-polski {
        height: 40px;
    }

    #navbarNav .dropdown-toggle{
        font-size: 0.7rem;
    }

        #navbarNav .btn-link{
        font-size: 0.7rem;
    }
    
    ul ul {
        padding-left: 0px;
    }

    .megamenu {
        padding: 20px;
        padding-bottom: 20px;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header,.navbar-nav .open .dropdown-menu>li>a {
        padding: 20px;
        padding-bottom: 10px
    }

    .navbar-nav {
        float: none;
        margin: 0
    }

    .nav .open>a,.nav .open>a:focus,.nav .open>a:hover {
        border-style: none
    }

    .event_news .aktualnosci {
        width: 75%
    }

    .event_news .event-module {
        width: 25%
    }

    .link-block {
        min-height: 460px
    }

    .caret {
        display: none
    }

    .navbar-default .navbar-nav>li:hover>a {
        background-color: #BE1E2D!important;
        color: #fff!important
    }       

    .navbar-default .navbar-nav>li>a {
        text-align: center
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 12px;
    }

    .navbar-nav>li {
        float: right;
    }
    .navbar-nav {
        padding-top: 0px;
    }

}

@media only all and (max-width: 991.98px) {   


.category-module li:last-child {
margin-right: 3%;
}	


.dropdown-menu{	
    background: none;
} 
    
        .panel{
        width: 100%;
        padding-right: 0;
        padding: 10px;
    }

    .katalog{
        padding-left: 15px;
    }


    .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
	padding-top: 10px;
    }

    .navbar{
        padding: 0px;
    }

    .dropdown-menu .col-md-3 {
        padding: 10px;
    }

    .wydzialy {
        display: none
    }

    #navbarNav .dropdown-toggle {
        border-radius: 0px;
    }
    
    #navbarNav .btn-link{
        border-radius: 0px;
    }

    .wiecej-r a {
        margin-right: 0px;
    }

    .aktualnosci{
        padding-left: 3%;
    }

    .wybory{
        padding-left: 3%;
        padding-right: 3%;
    }

    .event_news .event-module {
        padding-left: 3%;
        padding-right: 3%;
    }

    .HR-box{
        width: 100%;
        border-radius: 0px;
    }

    .HR img{
        height: 35px;}

    .navbar-brand {
        margin-right: 10px;
    }

    .mini-baner{
        max-width: 98%;
    }

    .sticky-top{
        position: relative;
    }

    .navbar-toggler{
/*        padding: 0 6px 0 6px;*/
	background-color: #BE1E2D;
    }

.navbar-dark .navbar-toggler-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

    #banerki {
        margin-bottom: 20px;
    }

    #koronawirus {
        font-size: 15px;
    }

    #koronawirus a{
        margin-bottom: 5px;
    }

    .aktualnosci-inside.category-module li {
        width: 48%;
    }

    .aktualnosci-inside.category-module li:last-child {
        margin-right: 0px;
    }

    .dropdown-menu .divider {
        display: none;
    }

    .social-media-top {
        padding-left: 20px;
        padding-right: 20px;
    }

    .fixed-top {
        position: absolute;
    }

    .navbar{
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
    }

    #menu_gora {
        padding-left: 15px;
        padding-right: 15px;
    }

    ul.dostepnosc-menu {
        padding-left: 15px;
    }

    #navbarNav .dropdown-toggle{
        display: block;
        padding: 15px;
        text-align: center;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 0px;
        border: none;
        width: inherit;
    }    
    
    #navbarNav .btn-link
    {
        display: block;
        padding: 15px;
        text-align: center;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0px;
        border: none;
        width: inherit;
    }    

    .module-event, .module-calendar{
        padding: 0px;
    }

    .szybkie-linki-projekty a {
        width: 48%
    }

    .szybkie-linki a {
        margin: 1%;
        width: 48%
    }

    #link-row-right {
        width: 100%
    }

    #menu_lewe {
        background-color: #ccc;
        margin: 0;
        padding-bottom: 15px;
        padding-top: 20px;
        width: 100%;
        border-right: none;
        padding: 0px;
        margin-bottom: 20px;
        display: inline-block;  
		max-height: 250px;
		overflow-y: scroll;		
    }        

    .accordeonck-wrap ul li{
        display: inline-block; 
    }    

    .accordeonck-wrap ul li a {
        padding: 5px;
        font-size: 0.8rem;
        border-radius: 10px;
        margin: 2px;
    }

    .accordeonck-wrap {
        font-size: 0.8rem;
    }

    .accordeonck-wrap ul {
        padding-left: 5px;
        padding-right: 5px;
        margin: 0;
        display: table-cell;        
    }

    .accordeonck-wrap li:before {
        display: none;
    }

    .accordeonck-wrap li {
        position: relative;
        padding: 0px;      
    }

    .accordeonck-wrap a:hover {
        color: #fff
    }

    .accordeonck-wrap>ul li ul li {
        display: inline-block;
        width: fit-content;        
    }
	
    .accordeonck-wrap>ul li ul li a{        
        padding: 5px;
        background-color: #eee;
        font-size: 0.8rem;
    }

    .accordeonck-wrap>ul li ul li a:before{
        display: none;
    }

    li.active.parent.open>span>a.accordeonck-wrap.isactive{
        text-align: center;
    }

    #menu_prawe {
        width: 100%
    }

    .wladze{
        float: left;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
    }

    .megamenu {
        text-align: center
    }


    .wiecej-bordo {
        margin: 0 auto
    }

    .wiecej-white {
        margin: 0 auto
    }

    .navbar-nav>li {
        width: 100%;
    }

    .navbar-toggle {
        margin-top: 5px;
        margin-bottom: 5px;}


    .navbar-default .navbar-nav>li>a {
        font-size: 16px;
        line-height: 1.8;
        border-bottom: 1px solid #ddd
    }

    .navbar-nav>li {
        float: left;
    }

    ul.event-module-ul {
        padding-left: 0px;
    }

    .event_news .aktualnosci {
        width: 100%;
        padding-right: 0
    }
	
	.aktualnosci .mod-articles-category-img{
        aspect-ratio: 16/8;
    }
    
    .wybory {
        width: 100%
    }

    .event_news .event-module {
        width: 100%
    }

    .link-block h1 {
        text-align: center
    }

    .link-row p {
        text-align: center
    }

    .link-row a {
        right: 48.5%;
        bottom: 0
    }

    .youtube-module li {
        width: 50%;
        padding-right: 0
    }

    .youtube-module li:last-child {
        width: 50%;
        padding-right: 0
    }

    .link-block {
        width: 100%;
        min-height: 300px
    }

    #link-row-right {
        width: 100%
    }

    .middle2 {
        padding: 0
    }

    #nazwa_uczelni_logo {
        color: #fff
    }

    #baner {
        clear: none
    }

    #nazwa_uczelni_logo #logo_uczelni {
        width: auto
    }

    #nazwa_uczelni_logo {
        clear: none
    }

    #baner {
        clear: none
    }

    .aktualnosci-wydarzenia {
        position: relative;
        clear: both;
        padding-right: 0;
        padding-left: 15px
    }

    .category-module li {
        width: 47%;
	width: 100%;
    }

    ul.event-module-ul {
        padding-left: 0px
    }

    #stopka_site-map ul {
        padding-left: 0;
        padding-right: 0
    }

    #nazwa_uczelni_logo #logo_uczelni {
        width: auto
    }

    #nazwa_uczelni_logo {
        clear: none
    }

    #baner {
        clear: none
    }

    #logo_uczelni {
        float: left
    }

    #nazwa_uczelni_logo,#stopka,.artykuly,.breadcrumb,.content_tabs.youtube h2,.event_news .aktualnosci h2,.event_news .event-module h2,ul.category-module,ul.event-module-ul,ul.youtube-module {
        margin-left: 0;
        margin-right: 0
    }

    .breadcrumb {
        padding-left: 15px
    }

    #stopka {
        padding-right: 15px;
        padding-left: 15px;
        width: 100%
    }

    #stopka_site-map {
        padding-left: 0;
        padding-right: 0;
        background-image: none;
        padding-bottom: 20px
    }

    #stopka_kontakt {
        width: 100%
    }

    #stopka_site-map ul {
        width: 100%;
        text-align: center
    }

    .content_tabs.youtube {
        width: 100%
    }

    #menu_prawe {
        padding-right: 15px;
        margin-left: 0;
        margin-right: 0
    }

    #baner {
        position: relative;
        margin-bottom: 0;
		display: none;
    }

    #header-bar {
        display: none
    }

    .pull-left.item-image {
        float: none;
        width: 100%;
        margin-bottom: 10px
    }

    .pull-left.item-image img {
        float: none;
        width: 100%
    }

    .pull-left.item-image {
        margin-right: 0
    }

    .link-block {
        min-height: 360px
    }

    .youtube-module li {
        width: 100%
    }

    .youtube-module li:last-child {
        margin-right: 0;
        width: 100%
    }

    .content_tabs.youtube {
        padding-right: 15px;
        padding-left: 15px
    }

    .artykuly {
        padding-left: 15px
    }

    #nazwa_uczelni_logo {
        padding-left: 15px
    }

    .col-md-12 {
        padding-left: 15px;
        padding-right: 15px
    }

}

@media only all and (max-width: 680px) {
	
	
	h1 {
        font-size: 1.8rem;
    }

    

    .mod-articles-category-img {
    }

    .wiecej-r a{
        float: right;
    }
    
    .category-module li {
        margin-bottom: 10px;
    }
    
    h3{
        font-size: 1.2rem;
    }

    .aktualnosci h3{
        font-size: 1.2rem;
    }

    p.mod-articles-category-introtext{
        display: none;
    }

    /*    .navbar{
            padding: 5px;
        }
    */
    .wiecej {
        float: right;
    }
    
    .artykuly h1{
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .news h1 {
        font-size: 1.8rem;
    }

    .ba-gallery {
        padding: 0px !important;
    }  

    .navbar-brand img {
/*        height: 30px;*/
        margin-top: 0px;
    }

    .herb-polski {
/*        height: 30px;*/
    }

    .herb-polski {
        padding-right: 5px;
    }


    .navbar h1 {
        margin-left: 0px;
        line-height: 14px;
    }

    #cookies-message {
        font-size: 0.8rem;
    }

    #cookies-message a {
        border-radius: 0px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #cookies-message p {
        padding: 5px;
    }

    .mini-baner {
        max-width: 98%;
    }

    .social-media-top img {
        float: none;
    }

    .navbar h1{
        margin-left: 5px;
        line-height: 14px;
    }

    .row{
        margin: 0px;
    }

    .kafelki-lista li {
        width:48%
    }    

    .stopka-container{
        padding: 20px;
    }

    .licznik-block h2 {
        font-size: 2.5rem;
    }   

    .licznik-block a {
        font-size: 2.5rem;
    }

    .szybkie-linki a {
        padding: 20px;
        width: 98%;
    }

    .szybkie-linki-projekty a {
        width: 98%;
        padding: 10px;
        height: 80px;
    }

    .wydzialy-row h3 {
        font-size: 16px;
    }

    .stopka-container{
        display: flow-root;
    }
	
	.dropdown-header{
		padding: 0px;

}

@media only all and (max-width: 450px) {

/*    .category-module li {
        height: 220px;
    }*/
}

/*
.event_news .aktualnosci {
    width: 100%;
}

.event-module {
    display: none;
}

.aktualnosci {
    padding-left: 3%;
}*/


/*
.dark {
    background-color: #222;
    color: #fff;
}

.dark .navbar-brand{
   content: url("https://pwsip.edu.pl/templates/pwsiip-uczelnia-2015/images/logo-pwsip-www-wh-2021.svg");
   height: 65px;
}

.dark .navbar-brand h1{
    color: #fff;
}

.dark .navbar{
    background: #222;
}

.dark .kafelki-lista a{
    color: #fff;
}

.dark p.readmore a.btn{
    color: #fff;
}

.dark .wiecej a{
    color: #fff;
}

.dark .wiecej-r a{
    color: #fff;
}

.dark .wiecej-white a{
    border-color: #BE1E2D;
}

.dark .dropdown-menu.show {
    background: #222;
}

.dark .nav-tabs{
    background: #333;
}

.dark .pagenav{
    background: #BE1E2D;
    border: 1px solid #BE1E2D;
    border-radius: 10px;
}

.dark .pagination a{
    background: #222;
    border: 1px solid #BE1E2D;
    border-radius: 10px;
}

.dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

.dark .navbar-light .navbar-toggler {
    border-color: #fff;    
}

.dark .breadcrumb {
    background-color: #222;
    color: #fff;
}

.dark .module-event-date {
    background-color: #222;
    color: #fff;
}

.dark .aktualnosci-wydarzenia{
    background-color: #222;
    color: #fff;
}

.dark .megamenu{
    background-color: #222;
    color: #fff;
}

.dark .megamenu a{
    background-color: #222;
    color: #fff;
}

.dark li.active.parent.open>span>a.accordeonck-wrap.isactive {
    background-color: #333;
    color: #fff;
}

.dark .megamenu>li ul>li>a:focus {    
    color: #fff;
    background-color: #222;
}

.dark .megamenu>li ul>li>a:hover {    
    color: #fff;
    background-color: #222;
}

.dark .wiecej-bordo a:hover {    
    color: #fff;
    background-color: #222;
}

.dark .accordeonck-wrap>ul li a{    
    color: #fff;
    background-color: #333;
}

.dark .breadcrumb a {
    color: #BE1E2D;
}

.dark a.accordeonck-wrap.isactive{
    background-color: #BE1E2D;
    color: #fff;
}

.dark .accordeonck-wrap ul{
    color: #fff;
    background-color: #222;
}

.dark #menu_gora ul li a{
    background-color: #222;
    color: #fff;
}

.dark .events-title>a{
    background-color: #222;
    color: #fff;
}

.dark #youtube-bar{
    background-color: #222;
    color: #fff;
}

.dark .szybkie-linki-bar{
    background-color: #222;
    color: #fff;
}

.dark .licznik-block p{
    color: #fff;
}

.dark .licznik-block{
    background-color: #222;
    color: #fff;
}

.dark .szybkie-linki-projekty-bar{
    background-color: #222;
    color: #fff;
}

.dark .szybkie-linki a{
    color: #fff;
}

.dark .szybkie-linki-projekty a{
    color: #fff;
}

.dark #stopka{
    background-color: #333;
}

.dark #stopka_kontakt ul{
    background:  #444;
}*/
}