

.content {
    max-width: 1200px;
    margin: 0 60px;
    box-sizing: border-box;
    padding: 10px 0px 40px 40px;
    display: block;
}

#b_zapisz, #b_widoczny, #b_usun {
    background-color: #BE1E2D;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.25;
    border: none;
    margin-left: 10px;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
}

.module-event-date {
    font-family: "Courier New", Courier, monospace;
    display: inline-block;
    font-size: 20px;
    max-height: 75px;
    left: 0;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    top: 0;
    width: 55px;
    background-color: #fff;
    padding-top: 10px;
    border-top: 5px solid #BE1E2D;
    background: #F5F5F5;
    line-height: 1;
    border-radius: 10px;
    min-width: 55px;
}

.buttons {
    display: block;
    padding-bottom: 40px;
}

#alias {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

#inputAlias{
    font-size: 2rem;
    font-weight: bold;
    font: monospace;
    border: none;
    outline: none;
    background: whitesmoke;
    border-radius: 15px;
    width: 1500px;
    
}

/* #opis-label{
    padding: 15px 0px;
} */

.info > p, .info > span {
    margin-bottom: 1.25rem;
}

.infoSpan {
    font-weight: bold;
    border: none;
    padding-bottom: 10px;
    width:75%
}
.ql-container{
    font-size: 1rem;
}
#quill{
    min-height: 150px;
    margin-bottom: 500px;
}
.eventCard{
        position: relative;
        overflow: hidden;
        width: 300px;
        border: 1px solid rgb(0, 0, 0, 0.1);
    }

.eventCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: rgb(190, 30, 45);
  transition: height 0.2s, background-color 0.2s;
}

.eventCard:hover::before {
    height: 6px;
    background-color: darkred;
}
.red-link {
    color: rgb(190, 30, 45);
}
.eventCategory {
    width: auto;
    height: 75px;
}
@media (max-width: 680px){
    .eventList > div{
        flex-grow: 1;
        flex-direction: column;
    }
    .eventCard{
        width: 100%;
    }
    #inputAlias{
        min-width: 200px;
    }
    .content{
        margin: 10px !important; 
        padding: 0px 0px 0px 0px !important;
    }
    .buttons
    {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    
    
}
