

.content {
    max-width: 1200px;
    margin: 0 60px;
    box-sizing: border-box;
    padding: 10px 0px 40px 40px;
    display: block;
}
.buttons {
    display: block;
    padding-bottom: 40px;
}

#alias {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

#inputAlias{
    font-size: 2rem;
    font-weight: bold;
    font: monospace;
    border: none;
    outline: none;
    background: whitesmoke;
    border-radius: 15px;
    margin-left: 30px;
    width: 1500px;
    
}

#opis-wydarzenia{
    padding: 15px 0px;
}


.infoSpan {
    font-weight: bold;
    border: none;
    width: 500px;
    padding-bottom: 10px;
}

#b_zapisz, #b_widoczny, #b_usun {
    background-color: #BE1E2D;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.25;
    border: none;
    margin-left: 10px;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
}

#quill{
    min-height: 150px;
    margin-bottom: 500px;
}
.eventCard{
        position: relative;
        overflow: hidden;
        width: 300px;
        border: 1px solid rgb(0, 0, 0, 0.1);
    }

.eventCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: rgb(190, 30, 45);
  transition: height 0.2s, background-color 0.2s;
}

.eventCard:hover::before {
    height: 6px;
    background-color: darkred;
}
.ql-container{
        font-size: 1rem;
    }
@media (max-width: 680px){
    .eventList > div{
        flex-grow: 1;
        flex-direction: column;
    }
    .eventCard{
        width: 100%;
    }
    #inputAlias{
        min-width: 200px;
    }
    .content{
        margin: 10px !important; 
        padding: 0px 0px 0px 0px !important;
    }
    .buttons
    {
        padding: 0;
        text-align: right;
        display: inline;
    }
    
    
}
